.card_wrapper,
.card_wrapper_type_row {
  background-color: rgb(41, 39, 39);
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card_wrapper_type_row {
  display: flex;
  flex-flow: row nowrap;
  min-width: 900px;
  max-height: 250px;
}

.card_wrapper:hover {
  transform: scale(1.02);
}

.card_wrapper {
  display: flex;
  flex-flow: column nowrap;
  max-width: 300px;
}

.img_wrapper {
  height: 300px;
  width: 300px;
}

.list_element,
.info_secondary {
  display: flex;
  flex-flow: column nowrap;
}

.title {
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.status_div {
  display: flex;
  justify-content: start;
  color: white;
  align-items: center;
  gap: 10px;
}

.rounded_id_alive,
.rounded_id_dead,
.rounded_id_unknown {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: rgb(24, 243, 24);
}

.rounded_id_dead {
  background-color: rgb(255, 27, 46);
}

.rounded_id_unknown {
  background-color: rgb(111, 116, 111);
}

.pre_title {
  font-size: 16px;
  font-weight: 700;
  color: rgb(184, 180, 180);
}

.info_span {
  font-size: 20px;
  color: white;
}

.list_wrapper {
  margin: 10px 10px;
}

.favr_wrapper {
  display: flex;
  justify-content: end;
  align-items: end;
  color: white;
}

.favr_wrapper_none {
  display: none;
}

.add_to_favr_btn {
  text-align: center;
  background-color: red;
  padding: 5px 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .card_wrapper_type_row {
    min-width: 300px;
    display: flex;
    flex-flow: column nowrap;
    max-width: 300px;
    max-height: none;
  }
}

@media screen and (max-width: 390px) {
  .card_wrapper_type_row {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    max-height: none;
    min-height: 350px;
    max-width: 250px;
  }

  .img_wrapper {
    height: 250px;
    width: 250x;
    margin-bottom: 50px;
  }
}
