.main_wrapper {
  padding-left: 10px;
  border-radius: 15px;
  background-color: rgb(43, 41, 41);
  min-width: 400px;
  min-height: 100px;
}

.main_text,
.secondary_text {
  color: whitesmoke;
  font-size: 16px;
}

.second_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
